@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

*{
    padding: 0px;
    margin: 0px;
}
html, body {/*CORPO*/
    min-height: 100vh;/*dar uma olhada aqui depois*/
    background-color: darkgray;
    font-family: var(--fonte1);
}

header{/*CABEÇALHO*/
    background-color: black;
    color: white;
    text-align: center;
}
header h1{/*TITULO CARBEÇALHO*/
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 8vw;
}
header p {/*PARAGRAFO CABERÇALHO*/
    padding-bottom: 50px;
}
header a, footer a {/*LINKS CABEÇALHO, RODAPÉ*/
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
header a:hover, footer a:hover{/*LINKS "Ao passar o mouse."*/
    text-decoration: underline;
}

section{/*SEÇÃO*/
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3.5vw;
}
section p{/*SEÇÃO, PARAGRAFO*/
    padding-bottom: 2em;
}
section.normal{/*CORDEL, ARTICLE*/
    background-color: rgb(255, 255, 255);
    color: black;
}
section.imagem{/*CORDEL COM IMAGEM, ARTICLE*/
    background-color: rgb(49, 48, 48);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.411);
    background-attachment: fixed;
}
section.imagem > p{/*CORDEL COM IMAGEM, ARTICLE, PARAGRAFO*/
    display: inline-block;
    padding: 1vw;
    background-color: rgba(0, 0, 0, 0.514);
    margin-left: -7px;
    text-shadow: 01px 01px 00px rgba(0, 0, 0, 0.493);
}
section#img01{/*SEÇÃO, IMAGEM, ID*/
    background-image: url(../imagens/background001.jpg);
    background-size: cover;
    background-position: center, right;
    
}
section#img02{/*SEÇÃO, IMAGEM, ID*/
    background-image: url(../imagens/background002.jpg);
    background-size: cover;
    background-position: right, center;
}

footer{/*RODAPÉ*/
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}